/SourceCode/VFEContactStrategyCommon/target/
/SourceCode/CustomerBaseImporting/target/
/SourceCode/CustomerBaseImporting/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/CustomerGroupMatching/target/
/SourceCode/InstancesManager/target/
/SourceCode/VFEDeliveryAggregationEngine/target/
/SourceCode/VFESendingSMSEngine/target/
/SourceCode/VFESMSInterfaceBridgingEngine/target/
/SourceCode/VFE_MOM_ENGINE/AlarmEngineCommon/target/
/SourceCode/VFE_MOM_ENGINE/AlarmEngine/target/
/SourceCode/VFEContactStrategyEnqueueREST/target/
/SourceCode/VFEContactStrategyInterfaceReports/target/
/SourceCode/VFEContactStrategyREST/target/
/SourceCode/VFEContactStrategyWeb/target/
/SourceCode/VFEContactStrategyEnqueueREST/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/VFEContactStrategyEnqueueREST/src/main/resources/c3p0.properties
/SourceCode/VFEContactStrategyREST/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/VFEContactStrategyREST/src/main/resources/c3p0.properties
/SourceCode/VFEContactStrategyInterfaceReports/src/main/resources
/SourceCode/VFEContactStrategyWeb/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/BridgingDequeuerService/target
/SourceCode/VFESMSInterfaceBridgingEngine/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/VFEDeliveryAggregationEngine/src/main/resources/VFE_Contact_Strategy.properties
/SourceCode/VFESMSCInterface/target/
*.classpath
*.project
*\.settings
*/.settings
nbactions.xml
**/logs/
**/nbproject
/SourceCode/SmscTestingApp/nbproject/private/
**/build
**/dist
/SourceCode/Cloudhopper-test/target/
/SourceCode/VFEContactStrategyREST/nb-configuration.xml
