<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--    <servlet>
        <servlet-name>AdvertisementConsultInterface</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.AdvertisementConsultInterface</servlet-class>
                <init-param>
            <param-name>DestinationMSISDN</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>-->
    <servlet>
        <servlet-name>ConfigurationManager</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.common.ConfigurationManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--   <servlet>
        <servlet-name>ConsultInterface</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.ConsultInterface</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>RetrieveMessageDeliveryStatus</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.RetrieveMessageStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveSMSsInterface</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.RetrieveSMSsInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInterface</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.CheckInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadyCheck</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.ReadyCheck</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>com.asset.contactstrategy.interfacereports.servlets.SendSmsInterface</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>ConfigurationManager</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>AdvertisementConsultInterface</servlet-name>
        <url-pattern>/AdsConsult</url-pattern>
    </servlet-mapping>-->
<!--    	   <servlet-mapping>
        <servlet-name>ConsultInterface</servlet-name>
        <url-pattern>/Consult</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/SendSMS</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>RetrieveMessageDeliveryStatus</servlet-name>
        <url-pattern>/RetrieveMessageDeliveryStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveSMSsInterface</servlet-name>
        <url-pattern>/RetrieveSMSsInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInterface</servlet-name>
        <url-pattern>/CheckInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadyCheck</servlet-name>
        <url-pattern>/Ready</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
